@model ServiExpress.Models.tbPagos
@using ServiExpress.Models;

@{
    ViewBag.Title = "Create";
    tbContrato contrato = ViewBag.Contrato;
   
}


@using (Html.BeginForm("Create", "Pago", FormMethod.Post, new { @class = "" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="editor-field input-field">
    @Html.Label("Contrato")
    <input type="text" id="monto" value="@contrato.IdContrato" disabled />
    <input type="hidden" value="@contrato.IdContrato" />
</div>

<div class="editor-field input-field">
    @Html.Label("Monto")
    <input type="text" value="@contrato.Monto" disabled />
    <input type="hidden" value="@contrato.Monto" />
</div>

<div class="editor-field input-field">
    @Html.Label("Numero de tarjeta")
    @Html.TextBoxFor(model => model.NumTarjeta)
    @Html.ValidationMessageFor(model => model.NumTarjeta)
</div>
    
    <div class="editor-field input-field">
    <label>Codigo de seguridad</label>
        <input type="text" id="codigoSeguridad" />
    </div>

<div class="editor-field input-field">
    @Html.Label("Tipo de tarjeta")
    @Html.TextBoxFor(model => model.Tipotarjeta)
    @Html.ValidationMessageFor(model => model.Tipotarjeta)
</div>

<div class="editor-field input-field">
    @Html.Label("Vigencia")
    @Html.TextBoxFor(model => model.Vigencia)
    @Html.ValidationMessageFor(model => model.Vigencia)
</div>

<input type="submit" onclick="Enviar()"value="Guardar y continuar" />
    <input type="button"onclick="ENVR()" class="btn" value="q" />
    <input type="button"onclick="Envia()" class="btn" value="52698" />
@*<label>@contrato.IdContrato</label>   
<label>@contrato.Monto</label>
<input type="text" value="@contrato.Monto" disabled/>
<input type="hidden" value="@contrato.Monto"/>*@
    
    
    
    
    
}

<script>
    //var uri = 'http://192.168.1.192:8080/api/Transaction ';


    //function ENVR() {
    ////    //Pago = new Object();
    ////    //Pago.CardNumber = "7756677302821879";
    ////    //Pago.ExpirationDate= "05/19";
    ////    //Pago.SecurityCode= "751";
    ////    //Pago.Token = "7e9240a4-ad52-4b8d-bee8-412c70610ddf";
    ////    //Pago.Amount= 10;
    ////    //var PagoJSON = JSON.stringify(Pago);
    //    $.ajax({
    //    url: uri,
    //    type: 'POST',
    //    //data: PagoJSON,
    //    data: {
    //        CardNumber: "0910476627337329",
    //        ExpirationDate: "05/19",
    //        SecurityCode: "80",
    //        Token: "7e9240a4-ad52-4b8d-bee8-412c70610ddf",
    //        Amount: 10
    //    },

    //    contentType: "application/json;charset=utf-8",
    //    success: function (response) {
    //    },
    //    error: function () {
    //        alert('Ha ocurrido un error, por favor re intente.');
    //    }
    //});
    //}

    function Enviar() {
        $.ajax({
            url: '@Url.Action("Envio", "Pago")',
            dataType: "json",
            data: {
                //CardNumber: "0910476627337329",
                //ExpirationDate: "05/19",
                //SecurityCode: "80",
                //Token: "7e9240a4-ad52-4b8d-bee8-412c70610ddf",
                //Amount: 10
                CardNumber: $('#NumTarjeta').val(),
                ExpirationDate: $('#Vigencia').val(),
                SecurityCode: $('#codigoSeguridad').val(),
                Token: "7e9240a4-ad52-4b8d-bee8-412c70610ddf",
                Amount: 10

            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                alert(data);
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    }


    var uri = ' http://localhost:60093/api/Entregas';

    function ENVR() {
        orden = new Object();

        orden.IdOrden = 32564;
        orden.idCliente = 1;
        orden.NombreConsumidor = "Pedrito";
        orden.DireccionConsumidor = "casita";
        orden.Descripcion = "bien gueno";
        orden.TelefonoConsumidor = 6624896;
        orden.Estado = 1;


        var ordenJSON = JSON.stringify(orden);

        $.ajax({
            url: uri,
            type: 'POST',
            data: ordenJSON,
            contentType: "application/json;charset=utf-8",
            success: function (response) {
            },
            error: function () {
                alert('Ha ocurrido un error, por favor re intente.');
            }
        });
    }



    //var uri = 'http://localhost:65148/api/Persona';


    //function Envia() {
    //    persona = new Object();

    //    persona.Nombres = "Pendejito";
    //    persona.Apellidos ="El Jhael";
    //    persona.PagoNeto = 1;
    //    persona.Salario = 1;
    //    persona.FechaPago = 1;
    //    persona.ValorComisiones = 1;
    //    persona.ValorSalud = 156;
    //    persona.ValorPension = 256;
    //    persona.PagoNeto = 500;

    //    var personaJSON = JSON.stringify(persona);

    //    $.ajax({
    //        url: uri,
    //        type: 'POST',
    //        data: personaJSON,
    //        contentType: "application/json;charset=utf-8",
    //        success: function (response) {

    //        },
    //        error: function () {
    //            alert('Ha ocurrido un error, por favor re intente.');
    //        }
    //    });
    //}

</script>



